<!DOCTYPE html>
<html>
<head>
	<title>@ViewData["Title"]</title>
</head>
<body>
	<header>
		<a href="">Home</a>
	</header>
	<section>
		@RenderBody()
	</section>
<footer>
	&copy; Colby
</footer>
</body>
</html>
