@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<p>I am a student in Professor Fox's CSC260 class</p>

<link rel="stylesheet" href="~/css/aboutme.css" asp-append-version="true" />