@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Future Career Plans</h1>
	<p class="Text">
		For the Future, I have an ultimate end goal in life, but i'm not very fussed about how i get there. Ultimately
		I would like to start and own a Digital Immersion Experience Company (Fancy way of saying Video Game) or perhaps
		work my way to the top of one of the existing gaming giants. My plan for getting there would be to get a tech job 
		that paid well after Graduation (and Perhaps get a Masters Degree) and then build and publish a game in my spare 
		time. (perhaps with some technically adept friends) Using that published game as leverage to get myself hired at an 
		existing gaming company and eventually breaking off to start my own. That's the plan assuming life doesn't get in
		way somehow. I would like to have a family and that could easily generate obstacles for this plan, but in keeping it
		simple and variable, I can hopefully adapt it as life happens.
	</p>
	
	<img class="Images" src="../images/GameDev.jpeg" alt="Abstract Tech Elements on a Blue Purple Background"/>

	<img class="Images" src="../images/GameDev2.jpg" alt="Abstract Tech Elements on an Orange Background"/>
</div>
