@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">General Information About Me</h1>
	<p class="Text">
		I came to Neumont originally to persue the BSGD Degree Path but ended up on the BSCS Path when I didn't meet the 
		GPA requirement. Since then, I came to realize that the BSCS Degree is a better fit for my future life and career Goals.
		As far as entertainment goes, I mostly enjoy gaming of all kinds (not just video games) and going to the movie theater.
		Most recently i've been playing Persona Q2 and Fire Emblem: Awakening after beating Fire emblem: Three Hopes while I wait
		for Xenoblade Chronicles 3 to release in late July. And Of Course, I regularly go back to Starcraft 2 and modded 
		Skyrim. For movies, I saw the Elvis movie recently and was blown away. I am mostly looking forward to the new Thor 
		movie that releases over the weekend.
	</p>
	
	<img class="Images" src="images/NeumontLlamas.jpg" alt="Neumont Llamas Logo"/>
	
	<img class="Images" src="images/Skyguy.jpg" alt="Skyrim Promotional Image"/>

	<img class="Images" src="images/XC3.jpg" alt="Three Unique Red Swords Thrust into a Grassy Plain"/>
	
	<img class="Images" src="images/GameDev2.jpg" alt="Abstract Tech Elements on an Orange Background"/>
</div>
