@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">General Information About Me</h1>
	<p>
		I came to Neumont originally to persue the BSGD Degree Path but ended up on the BSCS Path when I didn't meet the 
		GPA requirement. Since then, I came to realize that the BSCS Degree is a better fit for my future life and career Goals.
		As fae as entertainment goes, I mostly enjoy gaming of all kinds (not just video games) and going to the movie theater.'
	</p>
</div>
