@{
    ViewData["Title"] = "Before Neumont";
}

<div class="text-center">
	<h1 class="display-4">Me Before Neumont</h1>
	<p>
		Prior to attending Neumont, I went to Charter School called American Preparatory Academy for High School. I had a lot
		of fun doing musicals in High School. It was still High School of course and so it sucked in plenty of other ways but
		the Musicals were very fun regardless. 
	</p>
</div>
