@{
    ViewData["Title"] = "Before Neumont";
}

<div class="text-center">
	<h1 class="display-4">Me Before Neumont</h1>
	<p>
		Prior to attending Neumont, I went to Charter School called American Preparatory Academy for High School. I then served
		an LDS service mission at the Copper Hills High School Seminary, where despite having less a years tech training, I was
		the Seminary's unpaid IT Repair guy. I have since left the LDS faith, but I
	</p>
</div>
