@{
    ViewData["Title"] = "Home Page";
	ViewData["siteName"] = "Archived Lexicon";
}

<div class="text-center">
	<h1 class="display-3">Welcome to the @ViewData["siteName"]</h1>
	<h1 class="display-6">The best fictional game library solution</h1>

	<p>This Game Library with store Games and details about them for your convenience and even let your loan them out and get them at your disgresion
		and control.</p>
</div>
