@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "About Me";
}

<div>
	<p>
		My name is Caleb Colby of Cohort 36, and I chose the 
		subject of Pets as it is similar to the in class example of Bulldogs without being the same
	</p>
</div>
